<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="true" minLogLevel="5"
    optimizeLocally="true" volatileTracking="false" volatileTransition="true"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="false" stepsEnabledForResubmitInTarget="S64:Send Email To Data Entry From DOE:true##S56:Send Email To Data Entry From Rep:true##S25:Send Email To Primary Rep:true##S36:Send Email To DOE:true##S20:Review PDSRS Form And Decide:true##S41:Data Entry More Info:true##S88:Get Process Config:true##S98:Review PDSRS Form And Decide:true##S107:Get Process Config:true##S32:End:true##S67:Approval Decision:true##S48:Review PDSRS Form:true##S103:Data Entry More Info:true##S17:Receive Form:true##S28:Primay Rep Decision:true##S82:Error Exception:true##S95:End Error:true##S50:DOE Decision:true##"/>
</businessProcessConfig>
